<!DOCTYPE html>
<html ng-app="NewsApp">
  <head>
    <meta charset="utf-8">
    <title>NewsApp</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/js/services/newsapi.js" charset="utf-8"></script>
    <script src="/js/app.js"></script>
    </script>
  </head>
  <body>
    <header id="header">
      <h2>WELCOME</h2>
    </header>
  </body>
</html>
