<div class="haiku content-block">

  <h2 class='username'>
    Cecelious
  </h2>
  <p>
    He is a brave soul,
  </p>
  <p>
    Drawing blood only for peace,
  </p>
  <p>
    Never for vengeance.
  </p>

  <section class='comment-list'>
    <div class="comment">
      <h4 class='username'>
        Bob
      </h4>
      <p class='comment-body'>
        Hahaha.  That's so jolly!
      </p>
    </div>
    <div class="comment">
      <h4 class='username'>
        Lichard89
      </h4>
      <p class='comment-body'>
        I agree
      </p>
    </div>
  </section>

</div>
